body
{
  width:      100vw; 
  min-height: 100vh;
  padding:    0;
  margin:     10px;
}

.editorCanvas {
	width: 600px;
	height: 600px;
    float: left;
	border: 1px solid black;
    background-color: #FFFFFF;
}

.summaryCanvas {
	width: 600px;
	height: 600px;
	border: 1px solid black;
    background-color: #FFFFFF;
}


.summaryFrame {
	width: 640px;
	height: 700px;
    border: none;
}



div.studentSummary {
	width: 650px;
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFCC;
}

div.instructorSummary {
	width: 650px;
    display: inline-block;
    vertical-align: top;
    background-color: #CCFFFF;
}

div.reportBody {
    clear: both;
    border-top: solid;
}

.editorToolBar {
    text-align: center;
}

.editorView {
	border: 1px solid black;
    background-color: #A0A0A0;
}

.editors {
    background-color: #C0C0C0;
}

.centered {
    text-align: center;
}

.wrapped {
    word-wrap: break-word;
    border: solid;
    margin: 0.5ex;
}

.lhs {
    width: 2em;
}

.explanation {
    font-size: small;
    font-style: italic;
}

.derivation {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: 1ex;
}

.errors {
    color: red;
}

div.suppressed {
    display: none;
}