<html>
  <head>
    <title>@title@</title>
    <link rel="stylesheet" href="grading.css">
  </head>
  <body>
    <h1>@title@</h1>
    
    <div class='reportBody'>
       @reportBody@
    </div>
    <div>
      <div class="studentGrSummary">
      <h2>Student's Submission</h2>
        <iframe class='summaryFrame'
                src='@studentSummaryURL@'
                scrolling='auto'>
        </iframe>
      </div>
      <div class="instructorGrSummary">
        <h2>Instructor's Solution</h2>
        <details>
          <summary>Click to reveal</summary>
            <div>
              <div id="editorContainer" class="summaryCanvas">
                <canvas id="editorView" height=600 width=600> </canvas>
              <div>(Hold Alt key to drag diagram horizontally or vertically.)</div>
            </div>
            <div class="graderNotes">@graderNotes@</div>

            <script>
              document.languageURL = "@solution@";
              document.problem = "@problem@";
              document.username = "Instructor";
              document.lock = "0";
            </script>
            <div id="react-entry-point" class="suppressed"></div>
            <div id="creatorName"class="suppressed">Instructor</div>
            <script src="./editor.bundle.js"> </script>
        </details>
      </div>
    </div>
    <div>
      @graderForm@
    </div>
  </body>
</html>
